<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/general::head}" />
<body>
    <div style="height: 100px;"></div>

    <div class="grid text-center">
        <p class="text-success" style="font-size: 45px;" th:text="${teacherFirstName}">Teacher name</p>
    </div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <table class="table table-success table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="specialization : ${specializations}">
                            <td th:text="${specialization.id}"></td>
                            <td th:text="${specialization.name}"></td>
                            <td th:text="${specialization.description}"></td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>